@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5D2C80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 570px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-radius: 25px;
    overflow: hidden;
}

.imagem{
    display: flex;
    width: 300px;
    height: 300px;
    background-image: url(../imagem/imagem.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #fff;
}

.cabecalho > h2{
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}

.cabecalho > p{
    text-align: justify;
    padding: 10px;
    font-size: 1em;
}

.form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.form .email{
    display: flex;
    width: 270px; 
    padding: 2px;
    background-color: #5D2C80;
    margin-bottom: 5px;
    border-radius: 10px;

    svg{
        padding: 5px;
    }

    input{
        width: 240px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #a0dbd6;
        padding-left: 3px;

    }
}     


.form .senha{
    display: flex;
    width: 270px; 
    padding: 2px;
    background-color: #5D2C80;
    margin-bottom: 5px;
    border-radius: 10px;

    svg{
        padding: 5px;
    }

    input{
        padding-left: 3px;
        width: 248px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #91CFCA;
    }
}

.form input:hover{
    background-color: #E4F1F8;
}


button.entrar{
    display: flex;
    justify-content: center;
    background-color: #4BA39D;
    width: 270px; 
    padding: 13px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    color: white;
}

button.entrar:hover{
    background-color: #2a5e5a;
    cursor: pointer;
}

button.miss{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 270px; 
    padding: 13px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #4BA39D;
    color: #4BA39D;

}

button.miss:hover{
    background-color: #91CFCA;
    color: white;
    cursor: pointer;
}
